<!DOCTYPE html>
<html>
<head>
  <title>Kmsandbox</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><a href="#">AcmeSandbox</a></h1></li>
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% unless user_signed_in? %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Signup", new_user_registration_path %></li>
      <% else %>
        <li><%= link_to "Widgets", widgets_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </section>
</nav>

<% unless flash.empty? %>
  <center>
    <% if notice %>
      <a class="button success disabled"><div class="notice"><%= notice %></div></a>
    <% end %>
    <% if alert %>
      <a class="button alert disabled"><div class="alert"><%= alert %></div></a>
    <% end %>
  </center>
<% end %>

<div class="row panel">
  <%= yield %>
</div>

</body>
</html>
